<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Latest compiled and minified CSS -->
        <link   rel="stylesheet" 
                href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link   rel="stylesheet"
                href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
        
        <title>MIDI .... in SPACE</title>

    </head>

    <body>
        <div class="container-fluid">
        <div class="row jumbotron">
            <h1>Keplerphone</h1>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <div class=".col-md-4">
                    <label for="koi">Kepler objects (short period)</label>
                    <select class="form-control" id="koi" style="width: 15em;">
                    </select>
                </div>
                <div class=".col-md-4">
                    <label for="koi-free">
            Or pick your favorite KIC <a href="http://archive.stsci.edu/kepler/planet_candidates.html">here</a>!
                    </label>
                    <input class="form-control" id="koi-free" style="width: 15em;">
                    </input>
                </div>

            </div>

            <div class="form-group">
                <label for="scale">Scale</label>
                <select class="form-control" id="scale" style="width: 15em;">
                </select>
            </div>
        </div>

        <div class="container-fluid">
        </div>
        </div>
    </body>

    <script type='text/javascript' src='http://www.midijs.net/lib/midi.js'></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <script src="/static/js/index.js"></script>
</html>
