<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Latest compiled and minified CSS -->
        <link   rel="stylesheet"
                href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">


        <!-- Optional theme -->
        <link   rel="stylesheet"
                href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.0/darkly/bootstrap.min.css">
        
        <title>The Keplerphone</title>

    </head>

    <body>
        <div class="jumbotron" style="text-align: center">
            <h1>The Keplerphone</h1>
            <p>Jams from Space</p>
        </div>

        <div class="container">
            <div class=".col-md-9 pull-right">
                <img id="plot" width="640", height="480" />
            </div>
            <div class=".col-md-3 container">
                <div class="form-group" role="form">
                    <div>
                        <label for="koi-fixed" class="control-label">
                        <input id="koi-fixed" type="radio" name="source" value="fixed" checked> Kepler objects (short period)</label>
                        <select class="form-control" id="koi" style="width: 15em;">
                        </select>

                        <label for="koi-free-radio" class="control-label">
                        <input type="radio" name="source" value="free" id="koi-free-radio">
                Or pick your favorite KIC <a target="_blank" href="http://archive.stsci.edu/kepler/planet_candidates.html">here</a>!
                        </label>
                        <input class="form-control" id="koi-free" style="width: 15em;">
                        </input>
                    </div>
                </div>

                <div class="form-group">
                    <label for="speed" class="control-label">Speed</label>
                    <input type="range" class="form-control" id="speed" min="0.0"
                    max="12.0" step="0.25" value="{{ speed }}" style="width: 15em;">
                    <label for="scale" class="control-label">Scale</label>
                    <select class="form-control" id="scale" style="width: 15em;">
                    </select>
                </div>

                <div>
                    <button id="playfree" class="btn btn-lg btn-info btn-default" type="button">
                        <span class="glyphicon glyphicon-play"></span> 
                    </button>
                    <button id="stop" class="btn btn-danger" type="button">
                        <span class="glyphicon glyphicon-stop"></span> 
                    </button>
                    <a target="_blank" id="download" class="btn btn-primary">
                        <span class="glyphicon glyphicon-download-alt"></span> 
                    </a>
                    <a target="_blank" id="share" class="btn btn-primary">
                        <span class="glyphicon glyphicon-share"></span> 
                    </a>
                </div>
            </div>
        </div>
        <div class="nav navbar navbar-fixed-bottom" style="font-size: 12px;">
            <div class="navbar-text">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    What is the Keplerphone?
                </button>
            </div>
            <div class="navbar-text form-group form-horizontal">
                <input type="text" class="form-control" readonly id="linkurl" style="width:20em;">
            </div>
            <div class="pull-right navbar-text">
                <a target="_blank" href="http://jonathanmarmor.com/">Jonathan Marmor</a>
                <p> <a target="_blank" href="https://twitter.com/jonathanmarmor">@jonathanmarmor</a> </p>
            </div>
            <div class="pull-right navbar-text">
                <a target="_blank" href="http://bmcfee.github.io/">Brian McFee</a>
                <p> <a target="_blank" href="https://twitter.com/functiontelechy">@functiontelechy</a> </p>
            </div>
        </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">What is the Keplerphone?</h4>
      </div>
      <div class="modal-body">
        <img class="pull-right"
        src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/91/NASA-KeplerSpaceTelescope-ArtistConcept-20141027.jpg/320px-NASA-KeplerSpaceTelescope-ArtistConcept-20141027.jpg" />
        <p>
            The Keplerphone is a music generation system powered by the <a target="_blank" href="http://en.wikipedia.org/wiki/Kepler_(spacecraft)">Kepler space telescope</a>.  Sonifying astronomical data
            may well help to expose the presence of exoplanets, which may be ripe for human conquest at some later point.
        </p>
        <p>
            Also, interstellar rock.
        </p>
        </div>
        <div class="modal-body">
        <p>
            For a given star (or <em>Kepler object of interest</em> KOI), Kepler provides a time series of light-curve values, chunked up into quarters over a span of roughly two years.
        </p>
        <p>
            The sonification first detects transiting exoplanets by looking for sharp dips in the light curve, and synthesizes these events as percussion elements. The remaining flux contours are quantized and mapped onto a user-selected scale (e.g., pentatonic). Three quarters of data are played simultaneously with different instrument patches, though the individual time series are not phase aligned for the planet's orbit.
        </p>
        <p>
            The final sonification is rendered as midi using <a target="_blank" href="https://github.com/craffel/pretty-midi/">pretty-midi</a> and played back in the browser with <a
            target="_blank" href="http://www.midijs.net/">MIDIjs</a>.
        </p>
        <p>
            Also there are some colorful plots to make it more cheerful. And you can share your favorite space jams with your friends via Twitter.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    </body>

    <script type='text/javascript' src='http://www.midijs.net/lib/midi.js'></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script src="/static/js/index.js"></script>

    <input type="hidden" id="prekic" value="{{ kic }}"></input>
    <input type="hidden" id="prescale" value="{{ scale }}"></input>
</html>
