<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Latest compiled and minified CSS -->
        <link   rel="stylesheet"
                href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">


        <!-- Optional theme -->
        <link   rel="stylesheet"
                href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.0/darkly/bootstrap.min.css">
        
        <title>MIDI .... in SPACE</title>

    </head>

    <body>
        <div class="jumbotron" style="text-align: center">
            <h1>Keplerphone</h1>
        </div>

        <div class="row container">
            <div class=".col-md-6 pull-right">
                <img id="plot" width="640", height="480" />
            </div>
            <div class=".col-md-6 container">
                <div class="form-group" role="form">
                    <div>
                        <label for="koi" class="control-label">
                        <input id="koi-fixed" type="radio" name="source" value="fixed" checked> Kepler objects (short period)</label>
                        <select class="form-control" id="koi" style="width: 15em;">
                        </select>

                        <label for="koi-free" class="control-label">
                        <input type="radio" name="source" value="free" id="koi-free-radio">
                Or pick your favorite KIC <a href="http://archive.stsci.edu/kepler/planet_candidates.html">here</a>!
                        </label>
                        <input class="form-control" id="koi-free" style="width: 15em;">
                        </input>
                    </div>
                </div>

                <div class="form-group">
                    <label for="scale" class="control-label">Scale</label>
                    <select class="form-control" id="scale" style="width: 15em;">
                    </select>
                </div>

                <div style="text-align: center">
                    <a target="_blank" id="share" class="btn btn-info">
                        <span class="glyphicon glyphicon-share"></span> 
                    </a>
                    <button id="playfree" class="btn btn-lg btn-primary" type="button">
                        <span class="glyphicon glyphicon-play"></span> 
                    </button>
                    <button id="stop" class="btn btn-danger" type="button">
                        <span class="glyphicon glyphicon-stop"></span> 
                    </button>
                </div>
            </div>
        </div>
    </body>

    <script type='text/javascript' src='http://www.midijs.net/lib/midi.js'></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script src="/static/js/index.js"></script>

    <input type="hidden" id="prekic" value="{{ kic }}"></input>
    <input type="hidden" id="prescale" value="{{ scale }}"></input>
</html>
